* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.8);

  /* changes vido view */
  /* background: var(--overlay-color); */
  mix-blend-mode: overlay;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.6;
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 2;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.8);

  border-radius: 1em;
  padding: 6em;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.number {
  position: absolute;
  font-size: 50px;
}

.text {
  margin-top: -100px;
  position: relative;
  z-index: 10;
}

.button {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  z-index: 10;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 80%;
  }

  .container {
    padding: 6em 3em;
  }
}
